*{
    margin:0px;
    padding: 0px;
}
.buffer{
    height:100px;
    background-color: lightblue;
}
#header{
    position:sticky;
    top:0px;
}

.navbar{
   
  background-color: white;
   padding:30px;
    display:flex;
   /* border:solid blue 1px; */
    padding:5px;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.753);
}

.buffer{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.navbar_link a:hover{
    
    text-decoration: underline;
}
.navbar_link-logo{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    margin:0px 90px 0px 5px;
}
.navbar_items{
    display:flex;
    font-size:20px;
    font-family: sans-serif;
}
.navbar_link a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin:0px 25px;
    /* margin-right: 50px; */
}
.navbar_link{
    margin:0px 10px 0px 10px;
}
.navbar_items-right{
    margin-left: auto;
}

.navbar_linkr{
    margin:0px 2px ;
    border: rgb(6, 36, 10) solid 1px;
    background-color: rgb(65, 116, 11);
    text-shadow: 1px 1px black;
    color:azure;
    padding:5px 10px 5px 10px;
    border-radius: 10px;
}
.navbar_link-toggle{
    display:none;
}

.container{
    height: fit-content;
    
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
#about{
    display:flex;
    height: 50%;
    width:80vw;
    /* background: rgb(139, 0, 28); */
    background: linear-gradient(to left, red 20%, blue ); 
    /* background: linear-gradient(to left top, red 50%, yellow 60%); */
    border-radius: 30px;
    padding:20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow:rgb(0, 0, 0) 10px 10px 30px;
    color:whitesmoke;
    margin-bottom: 50px;
    /* text-shadow:2px 1px black; */
}
 .i{
     box-shadow:rgb(0, 0, 0) 10px 10px 30px;
     margin-bottom: 10px;
     border-radius: 50%;
     border:2px solid;
     border-color: crimson blue yellow green;
    }
.smedia
{
    display:flex;
   
    width: 30%;
    margin-bottom: 10px;
    
    justify-content: space-around;
}
.smedia img{
    box-shadow: 5px 0px  5px black;
    border-radius: 50px;
}

.trial{
    height:100vh;
}
.footer{
    background: rgb(0, 0, 53);
    color:burlywood;
    padding:10px;
    text-align: center;
}
.up{
    height:48px;
    position:fixed;
    bottom: 0px;
    border:2px solid red;
    border-radius: 50%;
    background-color: black;
}
.dropdown{
    display:flex;
    align-items: center;
    position:relative;
}
.dropdown-menu{
    background-color: rgba(135, 207, 235, 0.363);
    position:absolute;
    top: 35px;
    font-size: 15px;
    font-family: sans-serif;
}
.dropdown-menu li:hover{
    background-color: blue;
    
}
.dropdown-menu li a:hover{
    background-color: blue;
    color:white;
}

@media only screen and  (max-width:768px)
{
    
    .navbar_link {
        margin:0px 0px 5px 0px;
       
    }
   
    .navbar_items,.navbar{
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        

    }
    .navbar_link-logo{
        margin:0px 5px 10px 5px;
        
    }
    
   
    .navbar_items {
        display:none;
        
        
    }
    .navbar_items-right{
        margin-left:0px;
        padding-top:15px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navbar_link-toggle{
        /* z-index: 1; */
        display:initial;
        align-self: flex-end;
        position:absolute;
        top: 14px;
        cursor:pointer;
    }
    .navbar_toggleshow{
        display:flex;
        justify-content: center;
        align-items:center
    }
    .dropdown{
        border-radius: 50px;
    }
    .dropdown-menu{
        background-color: rgba(0, 0, 0, 0.925);
        border-radius: 50px;
    }
    .dropdown-menu li a{
        color:white;
    }
    .dropdown-menu li:hover{
        background-color: black;
    }
  
   
    
}